* {
    padding: 0;
    margin: 0;
}

/* We're working with the body tag, and so with the WHOLE page */
body
{
    background-color: black; /* The page background will be black */
    color: white; /* The page text will be white */
    position: relative;
    height: 100%;
}

.container {
    height: 15vh;
    margin-bottom: 35vh;
}

.button {
    color: white;
    padding: 10px;
    border-radius: 25px;
}

.title {
    margin-bottom: 25vh;
}

.footerDiv {
    
    text-align: center;
    margin-top: 15%;
    
}